<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>net ninja</title>
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <style>
        .isFav div:nth-child(even) {
            background-color: pink;
            color: #000;
        }
        .isFav button {
            background-color: lightgreen;
        }
    </style>
</head>

<body>
    <h1>hello mamad :)</h1>

    <div id="app">
        <ul>
            <li v-for="book in filteredBooks">
                <div :class="{isFav: book.isFav}">
                    <div>{{book.title}}</div>
                    <div>{{book.author}}</div>
                    <div>
                        <button @click="handleChangeFavorite(book)">favorite</button>
                    </div>
                </div>
            </li>
        </ul>
        <h3 v-if="isMamad">{{name}}</h3>
        <button @click="handleChangeName('ahmad')">click</button>
    </div>
</body>
<script src="./app.js"></script>

</html>